.testimonial-area {
  background: url('../../Images/parallax-7.jpg') no-repeat fixed center center /
    cover;
  transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  position: relative;
  color: #ffffff;
}

.testimonial-area:before {
  opacity: 0.9;
}

.testimonial {
  text-align: center;
}

.testimonial .testimonial-photo {
  margin-bottom: 20px;
  display: inline-block;
  margin-right: 30px;
  border-radius: 50%;
  -webkit-box-shadow: 5px 10px 30px -10px rgba(255, 255, 255, 0.5);
  box-shadow: 5px 10px 30px -10px rgba(255, 255, 255, 0.5);
  position: relative;
}

.testimonial .testimonial-photo:after {
  content: '';
  position: absolute;
  left: 50%;
  top: 100%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 20px;
  height: 20px;
}
